body {
  margin: 0 auto;
  padding: 0;
  background: #ff7379;
  background: linear-gradient(30deg,#ff0078,#ffab79);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Avenir,Helverica Neue;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
}
