html {
  min-height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  background: #ff7379;
  background: linear-gradient(30deg,#ff0078,#ffab79);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Avenir,Helvetica Neue;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
}

body.night-mode {
  background: linear-gradient(30deg, #00103C, #0056E6);
}

img {
  max-width: 100%;
}

.l-center {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-heading {
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 24px;
}
